@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
a { 
  color: #609cfe !important;
  font-family: 'VT323', monospace;
  font-size: 20px;
}
body {
  background-color: #252931 !important;
  margin: 0;
  font-size: 18px !important;
  font-family: 'VT323', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-monke { 
  background-color: #426caf;
  color: #eee;
}
.btn-phantom {
  background-color: #000;
  border: 1px solid #7f17d4;
  color: #eee;
  font-size: 18px;
  text-align: center;
}
.btn-phantom:hover {
  background-color: #000;
  border: 1px solid #862ad1;
  color: rgb(172, 147, 192);
  font-size: 18px;
  text-align: center;
}

.material-icons { 
  font-size: 16px;
  vertical-align: middle;
}

.ded-logo { 
  font-size: 40px !important;

}
.form-control { 
  background-color: #252931 !important;
  color: #eee !important;
}
.phantom-logo { 
  height: 24px;
  width: 24px;
}
input[type=text]{
  background-color: #252931 !important;
  color: #eee !important;
}
