@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
a { 
  color: #609cfe !important;
  font-family: 'VT323', monospace;
  font-size: 28px;
}
body {
  background-color: #252931 !important;
  margin: 0;
  font-size: 24px !important;
  font-family: 'VT323', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-monke { 
  background-color: #426caf;
  color: #eee;
}
.btn-phantom {
  background-color: #000;
  border: 1px solid #7f17d4;
  color: #eee;
  font-size: 18px;

}
.material-icons { 
  vertical-align: middle;
}

.ded-logo { 
  font-size: 40px !important;
}

.phantom-logo { 
  height: 32px;
  width: 32px;
}